.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.gitconfig
.gnupg/
.local/
.mozilla/
.npm*/
.oh-my-zsh/
.pki/
.pulse-cookie
.rustup
.shell.pre-oh-my-zsh
.ssh/
.steam/
.steampath
.steampid
.viminfo
.vscode/
.wget-hsts
.z
.zcompdump-arch-5.9
.zcompdump-arch-5.9.zwc
.zen/
.zsh_history
.zshenv
Downloads/
Photos/
go/
packages/
Pictures/
Projects/
.config/menus/
.config/zsh/.zshhistory
.zcomp*
