Bitwarden
Code
dconf
discord
Electron
go
gtk-3.0
kde.org
mimeapps.list
pavucontrol.ini
pnpm
pulse
QtProject.conf
rncbc.org
session
StardewValley
sunshine
systemd
trashrc
user-dirs.dirs
user-dirs.locale
yay
.zcompdump*
zsh/.zsh_history

